body{
  color: #333333;
  font-weight: 400;
  line-height: 1.4;
    .nanum-gothic-coding-regular {
        font-family: "Nanum Gothic Coding", monospace;
        font-weight: 400;
        font-style: normal;
      } 

  a{
    text-decoration: none;
  }

}

img{
  display: block;
}

header{
  background-color: f6f5f0;
  border-bottom: 1px solid #c8c8c8;
}

header .inner{
  width: 1000px;
  height: 120px;
  margin: 0 auto;
  position: relative;
}

header .logo{
  height: 75px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

header .sub-menu{
  display: flex;
  position: absolute;
  top: 10px;
  right: 0;

}

.sub-menu ul.menu{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}

.sub-menu ul.menu li{
  position: relative;
}

.sub-menu ul.menu li::before{
  /* 이 부분은 상단의 br */
  content: "";
  display: block;
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.sub-menu ul.menu li:first-child::before{
  /* 이 부분은 상단의 가로 br 첫번째꺼 없애기 */
  display: none;
}

.sub-menu ul.menu li a{
  font-size: 12px;
  padding: 11px 16px;
  display: block;
  color: #656565;
}

/* hover 효과 */
.sub-menu ul.menu li a:hover{
  color: #000;
}


.sub-menu .search{
  height: 34px;
  position: relative;
}

.sub-menu .search input{
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  background-color: white;
  color: #777;
  font-size: 12px;
  transition: width 0.4s;

}

.sub-menu .search input:focus{
  width: 190px;
  border-color: #699900;

}

.sub-menu .search .material-icons{
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  transition: 0.4s;
}

/* search 부분이 포커스가 된 상태 */
.sub-menu .search.focused .material-icons{
  opacity: 0;
}